.App {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2c6871;
}

body {
  background-color: #ededed;
}

button {
  border: 2px solid black;
  border-radius: 5px;
  color: #2c6871;
}

.login-container {
  font-size: 30px;
}

.wallet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-inputs2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}